﻿@model GradExam.ViewModels.AddCourseViewModel
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>
@using (Html.BeginForm("Add", "Course"))
{
    @Html.ValidationSummary()

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <br>
    <br>

    @Html.LabelFor(model => model.Semester)
    @Html.EditorFor(model => model.Semester)

    <br>
    <br>

    @Html.LabelFor(model => model.Section)
    @Html.EditorFor(model => model.Section)

    <br>
    <br>

    @Html.LabelFor(model => model.InstructorName)
    @Html.EditorFor(model => model.InstructorName)

    <br>
    <br>

    <label>Concentration: </label>
    <select id="myList">
        <option value="1">Applied Computer Science</option>
        <option value="2">Information Technology</option>
    </select>

    <br>
    <br>

    <button type="submit">Submit</button>
}
